.cart {
    padding: 0 110px 250px 110px;
}

.cartProduct {
    display: flex;
    justify-content: space-between;
    margin: 52px 0;
}

.btnImg {
    display: flex;
}

/* HEADER */
.cart > h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 77px 0;
}

/* ORDER */
.orderInfo {
    margin: 54px 0 0 0;
}

.cartInfo {
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
}
.infoVal {
    font-weight: 700;
    font-size: 24px;
}

.totalInfo {
    font-weight: 500;
    margin: 24px 0;
}

.orderBtn {
    padding: 16px 32px;
    width: 279px;
    height: 43px;
    background: #5ECE7B;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.orderBtn:active {
    position: relative;
    top:2px;
    left: 2px;
}