main {
    border: 1px solid purple;
    padding: 0px 100px 85px 100px;
}
.categoryContainer{
    display: flex;
    flex-wrap: wrap;
}
.categoryName{
    margin: 100px 0 111px 0;
}
.categoryName::first-letter{
    text-transform: uppercase;
}

section {
    Width: 386px;
    Height: 444px;
    padding: 16px;
    color: #1D1F22;
    margin: 0 28px 110px 0;
    background-color: #FFFFFF;
}

.outOfStock {
    font-weight: 400;
    font-size: 24px;
    color: #8D8F9A;
    position: relative;
    left: 25.42%;
    bottom: 44.24%;
}

.categoryTitle{
    margin-top: 29px;
}
.categoryTitle:hover{
    color: #8D8F9A;
}

.categoryPrice {
    font-weight: 500;
    margin: 8px 0;
}

.cartBtn {
    height: 52px;
    width: 52px;
    background: #5ECE7B;
    border-radius: 100px;
    border: none;
    position: relative;
    left: 290px;
    bottom: 115px;
    cursor: pointer;
    opacity: 0;
}
section:hover .cartBtn{
    opacity: 1;
}
#showCategBtn {
    display: 'initial'
}