aside {
    border: 2px solid orange; /* delete */
    position: absolute;
    left: 1043px;
    top: 78px;
    min-width: 325px;
    max-height: 688px;
    padding: 0px 7px 32px 7px;
    background-color: #FFFFFF;
    z-index: 1;
    overflow: auto;
}
/* TITLE */

.title {
    position:sticky;
    top:0;
    background-color: #FFFFFF;
    padding: 39px 0 9px 0;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    margin-left: 3px; /* watch out */
}
/* BAG */
.bagFooter{
    position: sticky;
    bottom:-32px;
    background-color: #FFFFFF;
    padding: 0 6px;
}

/* PRICE */

.price {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}

.totalPrice {
    font-weight: 700;
    font-size: 16px;
}

/* BAG BUTTONS */

.bag {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}

.bagBtn {
    align-items: center;
    /* padding: 16px 32px; */
    width: 140px;
    height: 43px;
    font-weight: 600;
    font-size: 14px;
    background: #FFFFFF;
    border: 1.5px solid #1D1F22;
    color: #1D1F22;
}

.bagBtn:hover {
    cursor: pointer;
    background: #5ECE7B;
    color: #FFFFFF;
    border: none;
}

.view {
    margin: 0 9px 0 0;
}

#overlayLink{
    font-weight: 600;
    font-size: 14px;
    padding: 32px 33px;
}