.surface {
    /* display: flex;
    justify-content: space-around;
    background-color: orange;
    /* height: 80px; */
    /* width: 1440px; */
    
    /* position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%; */

    /* --c-white */

    background: #FFFFFF;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 234px;
    height: 56px;
    left: 0px;
    bottom: 0px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.category > p {
    /* padding: 31px 20px;
    font-size: 16px;
    font-weight: 600; */
    position: static;
height: 20px;
left: 0%;
right: 0%;
top: calc(50% - 20px/2 - 16px);

font-style: normal;
font-weight: 400;
line-height: 120%;
/* identical to box height, or 19px */

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

/* --c-text */

color: #1D1F22;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 30px 0px;
}

.category > p:hover {
    color: #5ECE7B;
    cursor: pointer;
    border-bottom: 3px solid #5ECE7B;
    padding-bottom: 30px;
    margin-bottom: -2px;
}

.actions {
    /* display: flex;
    justify-content: space-around; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 204px;
    height: 40px;
    right: 101px;
    top: 23px;
}

.actions > p {
    font-weight: 500;
    font-size: 18px;
}

.categoryName {
    font-weight: 400;
    font-size: 42px;
    color: #1D1F22;
    position: absolute;
    left: 8%;
    top: 25%;
}